body {
    margin: 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    scroll-behaviour: smooth;
}

html{
}

header {
    box-shadow: 0 0 10px 0 #2D3142;
    background-color: white;
    height: 10vh;
    position: fixed;
    width: 100%;
    margin-top: -10vh;
    z-index: 22;
}

.header-all {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #2D3142;
}

.header-left {
    height: 70%;
}

.logo-div {
    height: 100%;
}

.logo-div img {
    height: 100%;
}

.right-menu span {
    margin-left: 2rem;
    box-sizing: border-box;
}

.right-menu a{
    text-decoration: none;
    color: #2D3142;
}

.right-menu a:hover{
    text-decoration: underline;
}

.intro-section {
    margin-top: 10vh;
    height: 60vh;
}

section {
    width: 100%;
}

.intro-div {
    width: 100%;
    height: 100%;
    background-image: url(./images/Capture.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-div span {
    color: white;
    font-size: 3rem;
}

.home-section {
    padding: 5rem 0;
    background-color: #2D3142;
}

.home-left h1 {
    margin: 2rem 0;
    text-align: left;

}

h1 {
    text-align: center;
    margin: 5rem 0;
    color: white;
}

.home-div {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.home-left {
    width: 45%;
    line-height: 2.5rem;
}

.home-right {
    width: 45%;
}

.home-right img {
    width: 100%;
}

.community-section {
    background-color: #EF8354;
}

.community-section h1 {
    color: white;
    margin-top: 0;
    margin-bottom: 2rem;
}

.wave img {
    object-fit: cover;
    width: 100%;
}

.wave-2{
    background-color: #EF8354;
}

.community-section{
    padding-bottom: 5rem;
}

.community-div {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #2D3142;
    border-radius: 10px;
}

.community-div a{
    width: 30%;
}

.community-div img {
    width: 100%;
    transition: .2s;
}

.community-div img:hover{
    filter: opacity(40%);
    cursor: pointer;
}

.community-div span {
    font-size: 1.5rem;
    width: 50%;
    color: white;
}

.separation-line{
    height: 100px;
    width: 4px;
    background-color: #EF8354;
}

.why-div h1 {
    color: #EF8354;
}

.why-div {
    width: 50%;
    margin: 0 auto;
}

.why-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    text-align: center;
    background-color: #4F5D75;
    height: 300px;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s ease-out;
    position: relative;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 20px 20px 0 #2d31427c;
    cursor: pointer;
    background-color: #2D3142;
}
.front img{
    width: 15%;
    filter: invert();
    margin-bottom: 1rem;
}
.front-cover{
    z-index: 1;
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}
.card-pop{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 22;
    background-color: #EF8354;
    padding: 3rem;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-top: 1.5rem ;
    display: none;
}
.card-pop-show{
    display: block;
}
.card-exit img{
    width: 30px;
}
.card-exit{
    text-align: right;
}
.card-exit img:hover{
    filter: invert();
    cursor: pointer;
    transition: .2s;
}
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    z-index: 21;
    display: none;
}
.modal-bg-show{
    display: block;
}

@media (max-width:480px){
    header{
        font-size: .5rem;
    }

    .right-menu{
        display: flex;
        justify-content: space-between;
    }
    .right-menu span{
        margin-left: 1rem;
    }
    .intro-div{
        text-align: center;
    }
    .home-div{
        flex-direction: column;
        width: 100%;
    }
    .home-left{
        width: 90%;
    }
    .home-right{
        width: 90%;
    }
    .why-div{
        width: 90%;
    }
    .why-cards{
        flex-direction: column;
        width: 100%;
    }
    .card{
        width: 100%;
        margin-bottom: 1rem;
    }
    .community-div{
        flex-direction: column;
    }
    .community-div span{
        width: 100%;
    }
    .community-div a{
        width: 100%;
    }
    .community-div img{
        width: 100%;
    }
    .separation-line{
        display: none;
    }
    .separation-line-mobile{
        width: 100%;
        height: 4px;
        background-color: #EF8354;
        margin: 1rem 0;
    }
}
@media (max-width:801px){
    header{
        font-size: 1rem;
    }

    .right-menu{
        display: flex;
        justify-content: space-between;
    }
    .right-menu span{
        margin-left: 1rem;
    }
    .intro-div{
        text-align: center;
    }
    .home-div{
        flex-direction: column;
        width: 100%;
    }
    .home-left{
        width: 90%;
    }
    .home-right{
        width: 90%;
    }
    .why-div{
        width: 90%;
    }
    .why-cards{
        flex-direction: column;
        width: 100%;
    }
    .card{
        width: 100%;
        margin-bottom: 1rem;
    }
    .community-div{
        flex-direction: column;
    }
    .community-div span{
        width: 100%;
    }
    .community-div a{
        width: 100%;
    }
    .community-div img{
        width: 100%;
    }
    .separation-line{
        display: none;
    }
    .separation-line-mobile{
        width: 100%;
        height: 4px;
        background-color: #EF8354;
        margin: 1rem 0;
    }
}
